<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body style="display:none;">
        <header><%- include('../partials/header'); %></header>

        <br/>
        <%- include('../partials/progressBars'); %>

        <footer><%- include('../partials/footer'); %></footer>

        <%- include('../partials/answerScript'); %>
        <%- include('../partials/jsScripts'); %>
    </body>
</html>
