<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
    <%- include('../partials/loginStyle'); %>
  
  <body style="display: none">
    <header><%- include('../partials/loginHeader'); %></header>

    <br />
    <%- include('../partials/loginForm'); %>

    <footer><%- include('../partials/footer'); %></footer>

    <%- include('../partials/answerScript'); %> 
    <%- include('../partials/jsScripts'); %>
  </body>
</html>
