<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body style="display:none;">
        <header><%- include('../partials/header'); %></header>

        <%- include('../partials/logsTable'); %>
        <br/>        
        

        <footer><%- include('../partials/footer'); %></footer>

        <%- include('../partials/answerScript'); %>
        <%- include('../partials/jsScripts'); %>
        <%- include('../partials/dataTableScript'); %>
    </body>
</html>
